<h1>Edit Decks</h1>

<form action="/decks/<%= @deck.id %>" method="POST">
  <input type="text" name="name" value="<%= @deck.name %>">
  <input type="text" name="format" value="<%= @deck.format %>">
  <input type="text" name="colors" value="<%= @deck.colors %>">
  <input type="text" name="decklist" value="<%= @deck.decklist %>">
  <input type="submit" value="Update" id="submit">
</form>
