<h1>Edit <%= @deck.name %></h1>

<form action="/decks/<%= @deck.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p><input type="text" name="name" value="<%= @deck.name %>">
  <p><input type="text" name="format" value="<%= @deck.format %>">
  <p><input type="text" name="colors" value="<%= @deck.colors %>">
  <p><input type="text" name="decklist" value="<%= @deck.decklist %>">
  <p><input type="submit" value="Update" id="submit">
</form>
