<h1>Edit <%= @deck.name %></h1>

<form action="/decks/<%= @deck.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p><label for="name">Name: </label>
  <input type="text" name="name" id="name" value="<%= @deck.name %>">
  <p><label for="format">Format: </label>
  <input type="text" name="format" id="format" value="<%= @deck.format %>">
  <p><label for="colors">Color(s): </label>
  <input type="text" name="colors" id="colors" value="<%= @deck.colors %>">
  <p><label for="decklist">Decklist: </label>
  <input type="text" name="decklist" id="decklist" value="<%= @deck.decklist %>">
  <p><input type="submit" value="Update" id="submit">
</form>
