<h1>Edit <%= @deck.name %></h1>

<br><form action="/<%= current_user.slug %>/decks/<%= @deck.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p><label for="name">Name: </label>
  <input type="text" name="name" id="name" value="<%= @deck.name %>">
  <p><label for="format">Format: </label>
  <select name="format" id="format">
    <option value="Standard">Standard</option>
    <option value="Modern">Modern</option>
    <option value="Legacy">Legacy</option>
    <option value="Vintage">Vintage</option>
    <option value="Commander">Commander</option>
  </select>
  <p><label for="colors">Color(s): </label>
  <input type="checkbox" name="colors[]" value="Black">Black
  <input type="checkbox" name="colors[]" value="Blue">Blue
  <input type="checkbox" name="colors[]" value="Green">Green
  <input type="checkbox" name="colors[]" value="Red">Red
  <input type="checkbox" name="colors[]" value="White">White
  <input type="checkbox" name="colors[]" value="Colorless">Colorless
  <p><label for="decklist">Decklist: </label>
  <br><textarea name="decklist" id=decklist rows="24" cols="66"><%= @deck.decklist %></textarea>
  <p><input type="submit" value="Update" id="submit">
</form>
