<h1><%= @deck.name %></h1>

<br>This deck is legal in <%= @deck.format %>.
<br>Colors featured: <%= @deck.colors %>

<br><br><h2>Decklist:</h2>
<br><%= @deck.decklist %>

<br><br><a href="/decks/<%= @deck.id %>/edit">Edit Deck</a>
