<h1><%= @deck.name %></h1>
<h5>Created by <a href="/users/<%= @deck.user.slug %>"><%= @deck.user.name %></a></h5>

<br>This deck is legal in <%= @deck.format %>.
<br>Colors featured: <%= @deck.colors %>

<br><br><h2>Decklist:</h2>
<div class="decklist"><br><%= @deck.decklist %></div><br>

<% if @deck.user == current_user %>
<a href="/decks/<%= @deck.slug %>/edit"><input type="submit" value="Edit Deck"></a>
<br><form action="/decks/<%= @deck.slug %>/delete" method="POST" >
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Deck">
</form>
<% end %>
