<h1><%= @deck.name %></h1>

<br>This deck is legal in <%= @deck.format %>.
<br>Colors featured: <%= @deck.colors %>

<br><br><h2>Decklist:</h2>
<div class="decklist"><br><%= @deck.decklist %></div>

<br><br><a href="/<%= @deck.user.slug %>/decks/<%= @deck.slug %>/edit"><input type="submit" value="Edit Deck"></a>
<br><form action="/<%= @deck.user.slug %>/decks/<%= @deck.slug %>/delete" method="POST" >
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Deck">
</form>

<br><br><a href="/<%= current_user.slug %>/account">Back to Account</a>
